body{
	font-size: 16px;
	font-family: sans-serif;
	position: relative;
}

/*Comenzamos con el estilo de todo el header*/

header{
	width: 100%;
	height: 35px;
	background: #233D58;
	position: relative;
	z-index: 999;
}

/* Para el header h1 y el header nav utilizamos el display none para ocultar
estos elementos, ya que estamos usando RESPONSIVE DESIGN y el h1 se verá solo
en las versiones de pantalla grande, y el nav será un menú desplegable en la
version reducida*/

header h1{
	display: none;
}

/*Indicaciones de tamaño en el wirefram*/
header nav .ioMenuMovil{
	height: 25px;
	width: 120px;
	cursor: pointer;
	line-height: 40px;
	margin: 0px 0px 0px 10px;
	padding-top: 5px; /* Se utilizando padding en vez de coordenadas para que los bordes
						sean paddings y sean parte del elemento y se pueda clickear*/
}

header nav .ioMenuMovil img{
	height: 100%; /*Que se ajuste al ancho de la barra de navegaci´´on*/
}

/*Diseñamos la tarjeta del menú*/

header nav #card_menu{
	/*display: none;*/
	position: relative;
	width: 230px;
	background: white;
	top: -30px;
	left: 0px;
	border-right: 3px solid #AFAEAE;
	z-index: 999; /*Se va a tener que ver siempre por encima*/
	padding-bottom: 50px; /*Para que no corte justo despues de la lista sino q deje un espacio*/
}

/*Ajustamos el logo*/

header nav #card_menu #logo_menu{
	height: 200px;
	width: 80%;
	margin: 30px 0px; /*Importante que esta linea vaya antes q la siguiente*/
	margin-left: 10%;
	margin-bottom: 60px;
}

header nav #card_menu #logo_menu img{
	width: 100%;
}

/*Decinir la lista de elementos de la barra de navegación*/

/*header nav #card_menu ul{}*/

header nav #card_menu ul li{
	list-style-type: none;
	font-size: 1.5em;
	line-height: 37px; /*Para separar los elementos de la lista entre sí*/
}

header nav #card_menu ul li a{
	text-decoration: none;
	color: black;
}

header #pre_section,
header #next_section{
	width: 25px;
	height: 25px;
	cursor: pointer; /*Para que cuando se ponga encima el cursor cambie la mano*/
	overflow: :hidden; /*Para eliminar todo lo que se salga elemento*/
	margin:5px;
	position: absolute;
	top: 0px;
}

header #pre_section{
	right: 35px;
}

header #next_section{
	right: 5px;
}

header #pre_section img,
header #next_section img{
	position: relative;
	width:125%; 
	top:-3px;
	left:-3px;
}

/*Giramos el elemento para que sea una flecha para cada lado*/

header #pre_section img{
	transform: rotate(180deg);
}

/*SLIDER y su configuración de estilos*/
#slider{
	position: relative;
	width: 100%;
	height: 600px;
	background: black;
}

/*¿Cómo podemos nosotros navegar con las flechas para movernos en el SLIDER*/
/*Es tan sencillo como darle a cada section darle un position ABSOLUTE*/
/*Como todos van a ser POSITION ABSOLUTE van a estar unos encima de otros*/

#slider section.slide{
	position: absolute;
	width: 100%;
	top: -20px;
	left: 0px;
}

/*Al pulsar los botones de navegacion se vayan cambiando los elementos 
y se ponga el que hallamos activado por encima del resto
Esto lo vamos a tener que hacer con dos puntos, con los botones de la
barra de navegación y con las flechas de navegación - MIRRAR HTML SLIDER + SCRIPT*/

#slider #Home{
	background: #233D58;
	position: relative;
	text-align: center;
	padding-bottom: 70px; /*De cara a que el footer va debajo*/
}
 
#slider #Home .mainanimation{
	width: 80%;
	min-height: 300px;
	margin-left: 10%;
	position: absolute;
}

/*ANIMACIÓN EXTERNA*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(35, 61, 88, 0.8) 10%, rgba(35, 61, 88, 0.8) 100%), url(http://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


#slider #Home .mainlogo{
	background: none; /*Porque va a estar encima de la animación de las estrellas*/
	width: 60vw; /*60% de la anchura del dispositivo*/
	margin-left: 20vw;
	min-height: 430px;
	position: relative;
}

#slider #Home .mainlogo h2{
	font-size: 1.2em;
	color: white;
	font-weight: lighter;
	padding-top: 80px;
} 

#slider #Home .mainlogo h2 strong{
	font-size: 1.7em;
	display: block;
}

#slider #Home .mainlogo figure,
#slider #Home .mainlogo figure img{
	width: 100%;
	margin: 0px;
}

#slider #Home .buttonspage{
	width: 100%;
	text-align: center;
}

/*PARA LOS HIJOS DE LA CLASE BUTTONSPAGE*/

#slider #Home .buttonspage > *{
	display: inline-block;
	width: 40%;
	margin: 5px 2.5%;
	font-size: 0.9em;
	color: white;
	padding: 15px 2.5%;
}

#slider #Home #contratame{
	background: #F8931F;
	cursor: pointer;
}

#slider #Home a{
	background: #29abe2;
	text-decoration: none;
}

/* FALTAN HACER EL RESTO DE SECTIONES */

#slider #Sobremí{
	background: #29abe2;
}/*

#slider #Skills{
	height: 300px;
	background: red;
}

#slider #Portfolio{
	height: 200px;
	background: blue;
}

#slider #Blog{
	height: 100px;
	background: purple;
} */


/*FORMULARIO DE CONTACTO*/

#contact_form{
	position: absolute;
	right: 0px;
	top: 35px;
	background: white;
	border: 1px solid green;
	width: 250px;
	height: 100vh; /*Esto es el 100% no del padre, sino del DISPOSITIVO*/
	box-shadow: 0px 0px 3px #9F9E9E;
	z-index: 999;
	display: none; /*Tiene que salir solo cuando le demos al Botón*/
}

#contact_form #closeForm{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 85%;
	top: 190px;
}

#contact_form #closeForm:hover{
	cursor: pointer;
}

/*UTILIZAR FUENTES VECTORIALES PARA PONER EL ICONO*/

#contact_form #closeForm:before{
	font-family: 'icomoon';
	content: "\ea0f";
	top: 6px;
	left: 8px;
	position: relative;
}

#contact_form figure{
	height: 180px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #29abe2;
}

#contact_form figure img{
	height: 90%; /*LO HE PUESTO CON %*/
	margin: 5%; /*LO HE PUESTO CON %**/
}

#contact_form p{
	margin: 20px;
	width: 90%;
	margin-left: 5%;
}

#contact_form input,
#contact_form textarea{
	display: block; /*Porque no tienen que estar uno encima del otro*/
	margin: 20px;
	border: none; /*Le quitamos todos los bordes y solo dejamos el de abajo*/
	border-bottom: 2px solid gray;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 3px;
	margin-bottom: 50px;
	font-weight: bold;
}

#contact_form #button{
	background: #F8931F;
	color: white;
	border: none;
	padding: 8px;
	border-radius: 5px;
}

#contact_button{
	width: 60px;
	height: 60px;
	background: #F8931F;
	border-radius: 50%;
	color: white;
	z-index: 950; /*Menos de 999 porque sino se va a quedar por encima de la tarjeta de menu movil*/
	position: fixed; /*Queremos que se vea SIEMPRE*/
	right: 10px;
	top: 80vh; /*80% del tamaño (height) del dispositivo*/
}

#contact_button:hover{
	cursor: pointer;
}

#contact_button:before{
	font-family: 'icomoon';
	content: "\e949";
	position: relative;
	font-size: 2.5em;
	top: 10px;
	left: 5px;
}

footer{
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	z-index: 90; /*Que no supere a ninguno de los otros elementos q tiene importancia*/
	height: 150px;
	position: fixed;
	bottom: -130px;
	transition-duration: 0.4s;
}

footer:hover{
	bottom: 0px;
}

footer:after{
	font-family: 'icomoon';
	content: "\ea50";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left:-40px; /*Para que se quede centrado porque es la mitad de su ancho*/
	margin-top: -30px; 
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: white;
	background: black;
	font-size: 4em;
	transition-duration: 0.4s;
}

/*HOVER, como queremos que el hover se haga en cualquier parte del FOOTER hay que poner
footer:hover:after. Si lo ponemos al reves footer:after:hover solo se va a ejecutar cuando
pasemos el ratón por encima de after*/

footer:hover:after{
	transform: rotate(180deg);
	background: white;
	color: white;							/*PARA ARREGLAR LO DE LA FLECHA Replica en blanco para q no se vea*/
	text-shadow: 0px 15px 0px black;		/*PARA ARREGLAR LO DE LA FLECHA Crea una replica*/
}

footer .redessociales{
	margin-top: 70px;
	width: 100%;
	height: 40px;
}

footer .redessociales a{
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

footer .redessociales a:before{
	color: white;
	position: absolute;
	font-family: 'icomoon';
	font-size: 2em;
	top: 3px;
	left: 5px;
}

footer .redessociales a:nth-child(1):before{
	content: "\ea96"
}

footer .redessociales a:nth-child(2):before{
	content: "\ea90"
}

footer .redessociales a:nth-child(3):before{
	content: "\ea8b"
}

footer .redessociales a:nth-child(4):before{
	content: "\e912"
}

footer p{
	font-size: 0.75em;
	font-weight: lighter;
}








/*RESPONSIVE DESIGN*/

/*MÓVIL*/

@media screen and (min-width:480px){

	/*SECTION HOME*/
	
	#slider #Home .mainlogo{
		width: 270px;
		left: 50%;
		margin-left: -135px; /*La mitad de si ancho*/
		padding-bottom: 50px;
	}
	#slider #Home .mainlogo h2{
		font-size: 1.4em;
	}
	#slider #Home .mainlogo figure{
		width: 80%;
		margin-left: 10%;
	}
	#slider #Home .buttonspage >*{
		width: 200px;
	}
}

/*Para algunos dispositivos que tienen pantalla algo más grande o que la usan
girada*/
@media screen and (min-width:600px){
	
}



/*TABLET*/

/*Ahora vamos a hacer que en el tamaño TABLET las flechas cambien de tamaño,
posicion y color de fondo*/
@media screen and (min-width:767px){
	
	/*Tenemos ahora que hacer el header más grande*/
	header{
		height: 50px;
	}
	/*Tenemos que activar el h1 (imagen y titulo) y posicionarlo*/
	header h1{
		display: inline-block;
		width:20%;
		margin: 0px;
		height: 50px;
		margin-left: 80px;
		line-height: 50px; /*Centrado Vertical - Hay que ponerle el mismo tamaño que el elemento*/
		min-width: 200px; /*Anchura mínima siempre de 200pixeles*/
	}
	/*Configuramos los enlaces del h1. >* Son los hijos, en este caso los enlaces*/
	header h1 > *{
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: white;
		font-size: 0.55em;
		margin: 0px 3px;
	}

	header h1 figure{
		height: 40px;
		width: 40px;
		margin: 0px;
	}

	header h1 figure img{
		width: 100%;
	}

	/*Configurar el Responsive Design del menú de navegacion para que no aparezca*/

	header nav {
		display: inline-block;
		vertical-align: middle;
		width: 62%;
		position: relative;
	}

	header nav #showMenu,
	header nav #hideMenu{
		display: none; /*Para que no se vean en pantalla grande*/

	}

	header nav #card_menu{
		display: inline-block;
		border: none;
		background: none;
		position: relative;
		top: 0px;
		width: 100%;
		text-align: right; /*Para que los elementos se alineen a la derecha*/
		padding-bottom: 0px;
	}

	header nav #card_menu figure{
		display: none;
	}

	header nav #card_menu ul{
		padding: 0px;
		margin: 0px;
		margin-top: -15px;
	}
	
	header nav #card_menu ul li{
		display: inline-block;
		width: 75px;
		text-align: center;
		font-size: 1.1em;
		margin: 0px -3px;
	}

	header nav #card_menu ul li a{
		color: white;
	}

	/*Botones de navegación*/

	header #pre_section,
	header #next_section{
			position: absolute;
			width: 50px;
			height: 50px;
			background: #29abe2;
			right: 40px;
			z-index: 999; 	/*Para asegurarnos que las flechas queden por encima							de todas las cosas*/
			border-radius: 50%; /*Para hacer los botones redondos*/
	}
	header #pre_section{
		top:115px;
	}
	header #next_section{
		top:190px;
	}

	header #pre_section img,
	header #next_section img{
		width: 100%;
		top: 0px;
		left: 0px;
	}
	#contact_form{
		top: 50px; /*Lo mismo que tenemos para el header*/
		width: 400px;
	}
	#contact_button{
		right: 40px;
	}
}

	
/*ESCRITORIO PANTALLA GRANDE*/

@media screen and (min-width:950px){
	
}
